.feedIncident {
    background-color: #fefefe;
    border: 1px solid #dedede;
    border-top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: block;
    padding: 10px;
}

.feedIncident-list {
    list-style: none;
    margin: 10px 0;
    padding: 0;
}
